#!/usr/bin/make -f
# -*- makefile -*-

# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.


LANG=C
LC_CTYPE=C

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# General variables
PACKAGE = color-theme-el
PKGDIR  = debian/${PACKAGE}
DOCDIR  = /usr/share/doc/${PACKAGE}
LISPDIR = /usr/share/emacs/site-lisp/${PACKAGE}


configure: configure-stamp
configure-stamp:
	dh_testdir

	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	$(MAKE) autoloads
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	-$(MAKE) realclean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into
	# debian/color-theme-el
	#install -d $(PKGDIR)$(LISPDIR) $(PKGDIR)$(LISPDIR)/themes
	#install -d ${PKGDIR}${DOCDIR}

	install -m 644 color-theme.el $(PKGDIR)$(LISPDIR)
	install -m 644 themes/*.el $(PKGDIR)$(LISPDIR)/themes
	install -m 644 color-theme-autoloads.el $(PKGDIR)$(LISPDIR)

        # Other documentation
	install -m 0644 AUTHORS ${PKGDIR}${DOCDIR}/AUTHORS
#        install -m 0644 NEWS ${PKGDIR}${DOCDIR}/NEWS
#        install -m 0644 README ${PKGDIR}${DOCDIR}/README
	install -m 0644 ChangeLog ${PKGDIR}${DOCDIR}/changelog

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installemacsen
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
